/* reset */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
* {
  box-sizing: border-box;
}

body {
  display: flex;
  top: 5em;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  min-height: 50vh;
  background-image: url("../images/chess-king-1372062558Apo.jpg");
}
@media (max-width: 900px) {
  body {
    font-size: 0.9em;
  }
}

.register,
.login {
  position: fixed;
  border-radius: 0.7em;
  flex-direction: column;
  align-items: center;
  background-color: rgba(224, 122, 255, 0.836);
  padding: 1em;
  z-index: -102;
  top: 15vh;
  height: 0;
  justify-content: space-between;
  width: min-content;
  transition: all ease-in-out 0.7s;
  opacity: 0;
}
.register .close,
.login .close {
  align-self: flex-end;
  font-size: 0.8em;
  border-radius: 80em;
}
.register input:not([type=checkbox]),
.login input:not([type=checkbox]) {
  all: unset;
  display: inline-block;
  border-radius: 0.5em;
  color: #ff93f6;
  padding: 1em;
  font-size: 1px;
  background-color: #410033;
  transition: all ease-in-out 0.7s;
}

body :not(.register) :not(.terms) * {
  opacity: 1;
  transition: opacity ease-in-out 0.7s;
}

body.modal-open :not(.register):not(.terms) * {
  opacity: 0.2;
}

.visible {
  display: inline-flex;
  z-index: 99;
  height: 70vh;
  opacity: 1;
}
.visible input:not([type=checkbox]) {
  all: unset;
  display: inline-block;
  border-radius: 0.5em;
  color: #ff93f6;
  padding: 1em;
  background-color: #27001ff5;
  height: auto;
}

button {
  all: unset;
  border-radius: 0.15em;
  background: linear-gradient(0deg, rgba(27, 0, 19, 0.842) 0%, 35%, rgba(255, 105, 243, 0.747) 100%);
  color: #200019;
  margin: 0.3em;
  padding: 0.4em 1em 0.6em 1em;
}
button:active {
  background: linear-gradient(0deg, rgba(255, 105, 243, 0.747) 0%, 65%, rgba(27, 0, 19, 0.842) 100%);
}

.terms {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  text-align: justify;
}
.terms input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.terms input:checked ~ .checkmark {
  background-color: #b121f3;
}
.terms input:checked ~ .checkmark:after {
  display: block;
}
.terms:hover input ~ .checkmark {
  background-color: #ee6dff;
}
.terms .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #e3c5e4;
}
.terms .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #f9cbff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

header {
  display: flex;
  width: 100%;
  padding: 0.3em;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header img {
  display: block;
  width: 410px;
  height: 60px;
}
header input {
  all: unset;
  max-width: 50vw;
  color: #ff70ec;
  background: linear-gradient(0deg, rgba(27, 0, 19, 0.164) 0%, 20%, rgba(255, 105, 243, 0.281) 100%);
  padding: 0.4em;
  max-height: 3vh;
}
@media (max-width: 700px) {
  header input {
    margin: 0;
  }
}

::placeholder {
  color: #ffacdf;
  font-style: italic;
  font-size: 0.8em;
}

::-webkit-scrollbar {
  width: 0.7em;
  border-radius: 1em;
  background-color: rgba(173, 5, 165, 0.267);
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(255, 65, 255, 0.774);
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(41, 0, 33, 0.822) 50%, transparent, transparent);
}

.picker_wrapper {
  max-width: 18vw;
}
@media (max-width: 680px) {
  .picker_wrapper {
    max-width: 45vw;
  }
}

.popup.popup_bottom {
  top: unset;
  left: unset;
}

.picker_wrapper.popup {
  position: fixed;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 680px) {
  .board {
    align-items: center;
    flex-direction: column;
  }
}
.board section {
  display: flex;
  margin-left: 0.3em;
  margin-bottom: 0.3em;
  flex-direction: column;
  border-radius: 0.5em;
  border: 0.15em solid #25003685;
  background-color: rgba(60, 0, 65, 0.342);
  width: 24vw;
}
@media (max-width: 680px) {
  .board section {
    justify-content: center;
    width: 65vw;
  }
}
.board section h2 {
  all: unset;
  padding: 0.7em;
  font-size: 1.4em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  color: #ffa1db;
  background: linear-gradient(0deg, rgba(255, 0, 179, 0.288) 0%, 5%, rgba(19, 0, 17, 0.699) 100%);
  order: -1;
}
.board .toDo,
.board .doing,
.board .done,
.board main {
  margin: 0.5em 0 0.8em 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  color: #ffa1db;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  max-height: 65vh;
  overflow-y: auto;
  width: 95%;
}
@media (max-width: 680px) {
  .board .toDo,
.board .doing,
.board .done,
.board main {
    align-items: center;
    max-height: 60vh;
  }
}
.board .done {
  text-decoration: line-through;
}

.task {
  margin: 0.3em;
  padding: 0.2em;
  background: rgba(180, 45, 221, 0.274);
  color: #ff9dea;
  border-radius: 0.5em;
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 95%;
  transition: all ease-in-out 500ms;
}
.task:hover {
  background: rgba(49, 0, 65, 0.808);
}
.task .text {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  background-color: rgba(54, 0, 52, 0.295);
}
.task .text:focus {
  outline: 0px solid transparent;
}
.task .text::after {
  content: "";
  border-radius: 1em;
  align-items: center;
  display: block;
  height: 0.2em;
  width: 0;
  margin-top: 0.2em;
  background-color: #ffb0ff;
  transition: all ease-in-out 500ms;
}
.task .text:focus::after {
  margin-top: 0.3em;
  border: 0;
  width: 100%;
}
.task .subtasks p {
  font-size: 0.9em;
  padding-left: 0.8em;
  text-align: left;
}
.task .subtasks p:focus {
  outline: 0px solid transparent;
}
.task .subtasks p::after {
  content: "";
  border-radius: 1em;
  align-items: center;
  display: block;
  height: 0.2em;
  width: 0;
  margin-top: 0.2em;
  background-color: #ffb0ff;
  transition: all ease-in-out 500ms;
}
.task .subtasks p:focus::after {
  margin-top: 0.3em;
  border: 0;
  width: 95%;
}
.task .addSubTask {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.6em;
}
.task .addSubTask :first-child {
  all: unset;
  border: 0px;
  width: 100%;
  padding: 0.3em;
}
.task .addSubTask img {
  margin-right: 1em;
  width: 1.5em;
  height: 1.5em;
  transition: all ease-in-out 500ms;
}
.task .addSubTask img:hover {
  margin-bottom: 0.15em;
  margin-right: 0.8em;
  width: 2em;
  height: 2em;
}
.task .buttons {
  order: 1;
  display: flex;
  padding: 0.3em;
  justify-content: space-around;
}
.task .buttons img {
  width: 1.5em;
  transition: all ease-in-out 500ms;
}
.task .buttons img:hover {
  width: 2em;
}

/*# sourceMappingURL=style.css.map */
