/* reset */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

* {
    box-sizing: border-box;
}

body {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../images/chess-king-1372062558Apo.jpg");
    background-size: cover;
}

header {
    background: rgba(255, 255, 255, 0.089);
    display: flex;
    justify-content: center;
    padding: 1.5em;

    input {
        all: unset;
        color: rgb(255, 187, 246);
        background: linear-gradient(0deg, rgba(27, 0, 19, 0.164) 0%, 30%, rgba(255, 105, 243, 0.281) 100%);
        margin: 0.3em;
        padding: 0.3em;
    }
}

.board {
    display: flex;
    flex-direction: row;

    @media (max-width: 1200px) {
        margin: 1em;
        flex-direction: column;
    }

    ::-webkit-scrollbar {
        width: 12px;
        border-radius: 1em;
        background-color: rgba(173, 5, 165, 0.267);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 1em;
        ;
        background-color: rgba(255, 65, 255, 0.774);
        background-image: -webkit-linear-gradient(90deg,
            transparent,
            rgba(41, 0, 33, 0.822) 50%,
            transparent,
            transparent)
    }

    section,
    main {
        margin: 0.4em;
        padding: 0.5em;
        border-radius: 0.5em;
        border: 0.12em #ff40ff3d solid;
        background-color: rgba(43, 0, 46, 0.637);
        flex: 1 25%;
        color: rgb(255, 161, 219);
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        align-items: flex-end;
        align-content: flex-end;
        height: 100%;
        max-height: 83vh;
        overflow-y: auto;


        h2 {
            position: sticky;
            top: 0;
            all: unset;
            font-size: 1.5em;
            padding: 0.5em;
            border-radius: 0.4em;
            background-color: rgba(17, 0, 16, 0.801);
            order: 1;
            width: 100%;
        }
    }

    .done {
        .completed {
            order: -1;
            opacity: 0.6;

            .text {
                text-decoration: line-through;
            }
        }
    }
}

.task {
    margin: 1em;
    padding: 0.5em;
    background: rgba(37, 0, 48, 0.644);
    color: rgb(255, 184, 240);
    min-width: 16em;
    border-radius: 0.4em;
    border-width: 0.2em;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        padding: 0.5em;
        margin-bottom: 1em;
        max-width: 8em;

        &:focus {
            outline: 0px solid transparent;
        }

        &::after {
            content: '';
            border-radius: 1em;
            align-items: center;
            display: block;
            height: 0.2em;
            width: 0;
            background-color: #ffb0ff;
            transition: all ease-in-out 500ms;
        }

        &:focus::after {
            margin-top: 0.2em;
            border: 0;
            width: 100%;
        }
    }

    img {
        height: 2em;
        margin: 0.2em;

        &:active {
            height: 3em;
        }
    }

    .buttons {
        order: 1;
        display: flex;
        margin: 0.2em;
        padding: 0.3em 0.6em;
    }

}

.completed {
    order: -1;

    .text {
        text-decoration: line-through;
    }
}